<template>
    <section class="hero is-primary is-medium">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            <Navbar />
        </div>
        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    {{ title }}
                </h1>
                <h2 class="subtitle">
                    {{ subtitle }}
                </h2>
            </div>
        </div>
    </section>
</template>
<script>
import Navbar from './Navbar'
export default {
    name: "hero",
    data(){
        return{

        }
    },
    props:{
        title: String,
        subtitle: String
    },
    components: {
        Navbar
    }
}
</script>
