<template>
  <div class="modal is-active">
    <div class="modal-background" @click="modalClosed"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title"> {{ title }}</p>
        <button class="delete" aria-label="close" @click="modalClosed"></button>
      </header>
      <section class="modal-card-body">
        <slot></slot>
      </section>
    </div>
  </div>
</template>

<script>
  export default {
    name: "modal",
    props:{
      title: String
    },
    methods:{
      modalClosed(){
        this.$emit('modalClosed');
      }
    }
  }
</script>

<style>
  .modal.open{
    z-index: 1005;
    display: block;
    opacity: 1;
    transform: scaleX(1);
    top: 10%;
  }

  .modal-close i{
    background: red;
  }
</style>
