<template>
	<div>
		<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<router-link to="/" class="navbar-item"> <img :src="logoUrl" alt="Logo"> </router-link>
			</div>
			<div class="navbar-menu">
				<div class="navbar-end">
					<router-link to="about" class="navbar-item" active-class="is-active"> About </router-link>
					<div v-if="loggedIn" style="display:flex">
						<a @click.prevent="logout" class="navbar-item navbar--link-white" href="/"> Logout </a>
					</div>
					<div v-else style="display:flex">
						<a @click.prevent="showLogin = true" class="navbar-item navbar--link-white" href="/"> Login </a>
						<a @click.prevent="showRegister = true" class="navbar-item navbar--link-white" href="/"> Register </a>
					</div>						
				</div>
			</div>
		</nav>
		<modal v-if="showRegister" title="Register" @modalClosed="showRegister = false">
          <Register @registeredAndloggedIn="showRegister = false"></Register>
		</modal>
		<modal v-if="showLogin" title="Login" @modalClosed="showLogin = false">
			<Login @loggedIn="showLogin = false"></Login>
		</modal>
	</div>
</template>
<script>
import Modal from './Modal.vue';
import Login from '../auth/Login.vue';
import Register from '../auth/Register.vue';

export default {
	name: "navbar",
	data(){
		return{
			showLogin: false,
			showRegister: false
		}
	},
	props:{
		logoUrl:{
			default: "https://bulma.io/images/bulma-type-white.png",
			type: String
		}
	},
	components:{
		Modal,
		Login,
		Register
	},
	computed:{
		loggedIn:{
			get: function() {
				return this.$store.state.isLoggedIn;
			},
			set: function() {

			}
		},
		user:{
			get: function(){
				return this.$store.state.currentUser;
			},
			set: function(){

			}
		}
	},
	methods: {
		isLoggedIn(){
			return this.$auth.loggedIn();
		},
		logout(){
			this.$store.commit('clearCurrentUser');
			this.$auth.destroyToken();
			this.$store.commit('clearIsLoggedIn');
			this.$router.push('/');
		}
	}
}
</script>
<style>
	nav{
		position: relative;
	}
</style>
