<template>
	<Hero title="Che bella hero" subtitle="E' proprio bella"/>
</template>
<script>

import Hero from "../sub_components/Hero.vue"
export default {
	name: "home",
	components: {
		Hero
	},
	data(){
		return{

		}
	},
	computed: {
		user: function(){
			return this.$store.state.currentUser;
		},
		loggedIn(){
			return this.$auth.loggedIn();
		}
	},
	mounted () {
		this.$store.commit('setIsLoggedIn', this.loggedIn);
		if (this.loggedIn)
			this.fetchUser();
	},
	methods: {
		fetchUser(){
			let self = this;
			self.axios.get("/users/me")
				.then(function(res){
					self.$store.commit('setCurrentUser', res.data);
				});
		}
	}
}
</script>
<style>
	.hero .hero-img{
		background-image: url(https://source.unsplash.com/featured/?dog);
		background-size: cover;
	}
	.page-header{
		color: white;
	}
</style>
