<template>
  <div>
      <div v-if="isHomePage">
          <router-view></router-view>
      </div>
      <div v-else>
          <Navbar />
          <router-view></router-view>
      </div>
  </div>
</template>

<script>
  import Navbar from "./sub_components/Navbar.vue";
  import Modal from "./sub_components/Modal.vue";
  import Login from './auth/Login.vue';
  import Register from './auth/Register.vue';

  export default {
    name: "app",
    data(){
      return {
        user: {},
      }
    },
    computed: {
      isHomePage(){
        return this.$route.path == "/"
      }
    },
    components: {
      Navbar,
    },
    mounted(){
      this.user = this.$store.state.currentUser;
    }
  }
</script>
