<template>
	<div>
		<article v-if="!!error" class="message is-danger">
			<div class="message-body">
				{{ error }}
			</div>
		</article>
		<div class="field">
			<p class="control has-icons-left has-icons-right">
				<input v-model="user.email.value" v-validate="'required|email'" name="email" type="email" placeholder="Email" :class="{ input: true, 'is-danger': addErrorClass('email')}" @keydown="cleanInputErrors('email')">
				<span class="icon is-small is-left">
				<i class="fa fa-envelope"></i>
				</span>
				<span class="icon is-small is-right">
				<i class="fa fa-check"></i>
				</span>
			</p>
			<p v-if="user.email.error" class="help is-danger">{{ errors.first('email') }}</p>
		</div>
		<div class="field">
			<p class="control has-icons-left">
				<input v-model="user.password.value" v-validate="'required'" name="password" type="password" placeholder="Password"  :class="{ input: true, 'is-danger': addErrorClass('password')}" @keydown="cleanInputErrors('password')">
				<span class="icon is-small is-left">
				<i class="fa fa-lock"></i>
				</span>
			</p>
			<p v-if="user.password.error" class="help is-danger">{{ errors.first('password') }}</p>
		</div>
		<div class="field">
			<p class="control">
				<button class="button is-success" @click="validateBeforeLogin">
					Login
				</button>
			</p>
		</div>
	</div>
</template>
<script>
	import { ErrorBag } from 'vee-validate';
	export default{
		name: "login",
		data(){
			return {
				isActive: false,
				user: {
					email: {
						value: "",
						class: ["input"],
						error: false
					},
					password: {
						value: "",
						class: ["input"],
						error: false
					},
					id: ""
				},
				error: "",
				submitCount: 0
			}
		},
		methods: {
			addErrorClass(field){
				if (this.submitCount > 0){
					if(field == "email"){
						return this.errors.has("email") || this.error !== ""
					} else if(field == "password"){
						return this.errors.has("password") || this.error !== ""
					}
				}
			},
			validateBeforeLogin() {
				this.submitCount+=1;
				this.$validator.validateAll().then((result) => {
					if (result) {
						this.login()
						return;
					}
					if (this.errors.has('email')){
						this.user.email.error = true
					}
					if (this.errors.has('password')){
						this.user.password.error = true
					}
					if(this.errors.has('password_confirmation')){
						this.user.password_confirmation.error = true
					}
				});
			},
			login () {
				let self = this
				const auth_params = {
					auth:{
						email: self.user.email.value,
						password: self.user.password.value
					}
				}
				self.axios
					.post("/user_token", auth_params)
					.then((res) => {
						self.$auth.setToken(res.data.jwt, Date.now() + 14400000);
						self.axios.get("/users/me").then(function(res){
								self.$store.commit('setCurrentUser', res.data);
								self.$store.commit('setIsLoggedIn', true);
								self.$router.push('/');
								self.$emit("loggedIn");
						});
					})
					.catch((error)=>{
						if (error.response.status === 404){
							self.user.email.class.push("is-danger");
							self.user.password.class.push("is-danger");
							self.error = "Email/Password combination not found";
							self.user.email.value = "";
							self.user.password.value = "";
						}
					});
			},
			reset () {
				self.user.email.value = "";
				self.user.password.value = "";
				self.error = "";
			},
			cleanInputErrors(input){
				if(input == "email"){
					if(this.user.email.class.indexOf("is-danger") >= 0){
						this.user.email.class.pop();
					}
				} else {
					if(this.user.password.class.indexOf("is-danger") >= 0){
						this.user.password.class.pop();
					}
				}
			}
		}
	}
</script>
<style>

</style>
