<template>
	<div>
		<div class="field">
			<p class="control has-icons-left has-icons-right">
				<input v-validate="'required|email'" name="email" v-model="user.email.value" type="email" placeholder="Email" :class="{ input: true, 'is-danger': addErrorClass('email')}">
				<span class="icon is-small is-left">
				<i class="fa fa-envelope"></i>
				</span>
				<span class="icon is-small is-right">
				<i class="fa fa-check"></i>
				</span>
			</p>
			<p v-if="user.email.error" class="help is-danger">{{ errors.first('email') }}</p>
		</div>
		<div class="field">
			<p class="control has-icons-left">
				<input v-model="user.password.value" v-validate="'required|min:8|confirmed:password_confirmation'" name="password" type="password" placeholder="Password"  :class="{ input: true, 'is-danger': addErrorClass('password')}">
				<span class="icon is-small is-left">
				<i class="fa fa-lock"></i>
				</span>
			</p>
			<p v-if="user.password.error" class="help is-danger">{{ errors.first('password') }}</p>
		</div>
		<div class="field">
			<p class="control has-icons-left">
				<input v-model="user.password_confirmation.value" type="password" v-validate="'required|min:8|confirmed:password_confirmation'" name="password_confirmation" placeholder="Password Confirmation"  class="input" :class="{ input: true, 'is-danger': addErrorClass('password_confirmation')}">
				<span class="icon is-small is-left">
				<i class="fa fa-lock"></i>
				</span>
			</p>
			<p v-if="user.password_confirmation.error" class="help is-danger">{{ errors.first('password') }}</p>
		</div>
		<div class="field">
			<p class="control">
				<button class="button is-success" @click="validateBeforeSubmit"> 
					Register
				</button>
			</p>
		</div>
	</div>
</template>
<script>
	export default{
		name: "register",
		data () {
			return {
				isActive: false,
				user: {
					email: {
						value: "",
						error: false
					},
					password: {
						value: "",
						error: false
					},
					password_confirmation: {
						value: "",
						error: false
					}
				},
				submitCount: 0
			}
		},
		props:{
			role: {}
		},
		methods: {
			addErrorClass(field){
				if(this.submitCount > 0){
					if(field == "email"){
						return this.errors.has("email")
					} else if(field == "password"){
						return this.errors.has("password")
					} else if(field == "password_confirmation"){
						return this.errors.has("password_confirmation")
					}
				}
			},
			register () {
				let self = this
				const reg_params = {
					email: self.user.email.value,
					password: self.user.password.value,
					password_confirmation: self.user.password_confirmation.value
				}
				self.axios.post("/users", reg_params)
					.then(function(res){
						const auth_params = {
							auth:{
								email: self.user.email.value,
								password: self.user.password.value,
								password_confirmation: self.user.password_confirmation.value
							}
						}
						self.axios.post("/user_token", auth_params).then((res)=>{
							self.$auth.setToken(res.data.jwt, Date.now() + 14400000);
							self.axios.get("/users/me").then((res)=>{
									self.$store.commit('setCurrentUser', res.data);
									self.$store.commit('setIsLoggedIn', true);
							});
							self.$emit("registeredAndloggedIn");
						})
					})
			},
			validateBeforeSubmit() {
				this.submitCount+=1;
				this.$validator.validateAll().then((result) => {
					if (result) {
						this.register()
						return;
					}
					if (this.errors.has('email')){
						this.user.email.error = true
					}
					if (this.errors.has('password')){
						this.user.password.error = true
					}
					if(this.errors.has('password_confirmation')){
						this.user.password_confirmation.error = true
					}
				});
			},
			reset () {
				self.user.email = "";
				self.user.password = "";
				self.user.password_confirmation = "";
			}
		}
	}
</script>
<style>

</style>
